* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #2f3640;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.user-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  color: #fff;
  font-weight: bold;
  margin-right: 1rem;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  filter: blur(10px);
  background-color: #fff;
  background-image: linear-gradient(to right top, #2f3640, #353c48, #3b424f, #424958, #4a4f61, #4e4e5f, #4f4d5e, #4f4b5d, #4f495d, #4f465c, #4f425b, #4f3e59);
}

.container {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #2f3640;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 80%;
}

.input-field {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #2f3640;
}

.submit-button {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #2f3640;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.submit-button:hover {
  background-color: #3a3f4a;
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .user-login {}

  .user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 0.25rem;
  }
  
  .user-name {
  font-size: 0.8rem;
  }
  
  .input-container {
  flex-direction: column;
  }
  
  .input-field {
  margin-bottom: 1rem;
  border-bottom: none;
  }
  
  .submit-button {
  margin-left: 0;
  width: 100%;
  }
  }
