* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b2836;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.input-field {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
}

.submit-button {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.submit-button:hover {
  background: #1991e6;
}
